.hide {
    display: none;
}

#subject-container{
    float: left;
    text-align: right;
    width: auto;
    border: 2px black solid;
}

#main-container {
    border: 2px black solid;
    float: left;
    width: auto;
    margin: auto 0;

}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.alert {
    float: center;
    margin: auto;
    border: 1px black solid;
    width: 10%;
    height: 10%;
}

.quiz-card{
    border: 1px black solid;
    margin: 5px;
}