body{
    margin: 5px;
    font-family: courier;
    background-color: #FFE384;
}
#subject-container{
    position: absolute;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 100%;
    border-radius: 5px;
    border: 2px black solid;
    background-color: #FCF3D3;
}

#main-container {
    position: absolute;
    left: 190px;
    margin: 10px;
    display: inline-block;
    width: 80%;
    height: 100%;
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #FCF3D3;
}

.quiz-card{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 5px;
    background-color: white;
}

.quiz-card p{
    margin-top: 40%;
}

.quiz-card:hover{
    background-color: #EAECEB;
}

.quiz-container{
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    text-align: center;
}

#start-button{
  background-color: #4DD15B;
  padding: 15px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.next-button, .complete-quiz, .next-quiz{
  background-color: white;
  padding: 15px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

#start-button:hover{
    color: white;
}

.question-container{
    text-align: center;
}

.option-button{
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: 1px black solid;
}

.option-button:disabled{
    color: black;
}

.correct {
    background-color: #4DD15B;
}

.incorrect {
    background-color: #FF4135;
}

.alert {
    position: fixed;
    z-index: 1;
    margin: auto;
    border: 2px black solid;
    border-radius: 10px;
    background-color: red;
    width: 200px;
    text-align: center;
    padding: 5px;
}

.alert button {
    display: inline-block;
    margin-left: auto;
}



.completed {
    background-color: #BDF5F2;
    color: grey;
    z-index: 1;
}
