.hide {
    display: none;
}

#subject-container{
    float: left;
    text-align: right;
    width: auto;
    border: 2px black solid;
}

#main-container {
    border: 2px black solid;
    float: left;
    width: auto;
    margin: auto 0;

}